* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #c3aceb;
}

header {
  position: sticky;
  top: 0px;
  background-color: #c3aceb;
}
.menu {
  display: flex;
  width: 100%;
  height: 51px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 34.38%,
      rgba(0, 0, 0, 0) 66.94%
    )
    #8368e6;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: max-content;
  width: 55%;
  order: 2;
  padding-bottom: 7px;
}
#logotext {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44.16px;

  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: none;
}
#carrito {
  width: 20%;
  height: max-content;
  border: none;
  background: none;
  z-index: 1;
  order: 1;
}
#carrito img {
  z-index: 0;
}
/*Carrito aside*/
.micompra {
  transform: translateX(100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 234px;
  height: 100%;
  z-index: 16;
  transition: 0.1s ease-out;
  background-color: #d2bbda;
}
.mostrarcompra {
  transform: translate(0%);
}
.carritonav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
  height: 4%;
  background: rgba(131, 104, 230, 0.34);
  border-bottom: 1px solid #ffffff;
}
.micompra h3 {
  width: max-content;
  margin: 0px;
  padding: 1px 0 0 10px;
  font-family: "Raleway";
  font-style: normal;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.micompra #carritoimg {
  align-self: center;
  position: relative;
  top: 35%;

  opacity: 0.2;
  height: 128px;
  width: 125px;
}
.micompra #arrowback {
  padding-right: 5px;
  background: none;
  border: none;
}

.usuario {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  height: max-content;
  order: 3;
}

/*Barra navegación*/
.buscador-container {
  margin: auto;
  width: 80%;
  height: 29px;
  top: 51px;
  padding: 0;

  background: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
  transition: width 0.3s ease; /* Animación de transición suave */
}
.buscar {
  width: 92%;
  height: 100%;
  vertical-align: middle;
  border: none;
  padding: 0px 5px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  outline: none;
}

/*Contacto*/

.tituloContacto {
  position: absolute;
  width: 100%;
  height: 39px;
  display: flex;
  align-items: center;
  justify-items: center;
  top: 87px;
}
.tituloContacto h2 {
  margin: 12px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}
.tituloContacto span {
  width: 50%;
  height: 2px;
  background-color: white;
}
.contactos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  top: 151px;
}
.contactos h3 {
  font-weight: bold;
  color: white;
}
.contactos a {
  margin-left: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid white;
  text-decoration: none;
}
.contactos a:hover {
  color: white;
  text-decoration: none;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 295px;
  background: #d7c0ff;
  border: 1px solid #ffffff;
  border-radius: 13px;
  margin: 2px 0 2px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.instagram {
    width: 100%;
    display: flex;
    padding-left: 8px;
    justify-content: center;
    align-items: center;
}

#igicon {
  object-fit: cover;
  width: 97.04px;
  height: 116px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tiktok {
    display: flex;
    width: 100%;
    padding-left: 6px;
    align-items: center;
    justify-content: center;
}
.tiktoklink {
    display: flex;
    justify-content: center;
  width:50%;
}
#tiktokicon {
  object-fit: cover;
  width: 100px;
  height: 71px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 370px;
  background: #d7c0ff;
  border: 1px solid #ffffff;
  border-radius: 13px;
  margin: 2px 0 2px 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.datoscontacto {
  width: 90%;
  outline: none;
  border: none;
  border-bottom: solid 1px white;
  background: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: white;
}
#enviar {
  width: 159.91px;
  height: 46.43px;
  background: #7f4ffc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
  border: none;
}

/*Menú hamburguesa*/
.menubur {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 320px;
  background-color: #d2bbda;
  transition: 0.2s ease-out;
  overflow-y: hidden;
  transform: translatey(100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mostrar {
  transform: translatey(0%);
}
.toggle-btn {
  border: none;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-btn :active {
  border: none;
}
.toggle-btn span {
  background-color: #4526f5;
  height: 4px;
  width: 30px;
  margin-top: 3px;
}

.regresar {
  border: none;
  background: none;
  position: fixed;
  display: none;
}

footer {
  position: fixed;
  width: max-content;
  bottom: 20px;
  right: 20px;
}
#Pags {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Pags a {
  margin: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: white;
  border-bottom: solid white 2px;
}
#Pags a:first-child {
  margin-top: 20px;
}

/*Menú pc*/
.pagsPcItem a,
a:visited,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
  color: white !important;
  outline: none;
}
.pagsPc {
  height: 100%;
  width: 40%;
  display: none;
}
.pagsPcList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

/*buscador pc*/
.buscador-containerpc {
  display: flex;
  width: 15%;
  height: max-content;
  background: none;
  display: none;
}
.buscarpc {
  width: 100%;
  border: none;
  color: white;
  border-bottom: #7f4ffc solid 3px;
  background: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  outline: none;
}
.buscador-containerpc img {
  width: 25px;
}
.buscarpc::placeholder{
  color: white;
  opacity: 0.50;
}
.pagsPcItem {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: Raleway;
  font-style: normal;
  line-height: normal;
}
/******
      *******
      DESKTOP
      *******
      ******/

@media (min-width: 1024px) {
  /*navbar pc*/
  .menu {
    height: 60px;
  }
  .logo {
    width: 12%;
    order: 0;
  }
  #logotext {
    font-size: 50px;
  }
  .pagsPc {
    display: block;
  }
  .toggle-btn {
    display: none;
  }

  .buscador-container {
    display: none;
  }
  .buscador-containerpc {
    display: flex;
    width: 15%;
  }
  .usuario {
    width: 1%;
  }
  #carrito {
    width: 1%;
  }

  .tituloContacto h2 {
    font-size: 40px;
  }
  .contactos {
    height: 80%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }

  .redes {
    width: 45%;
    height: 60%;
    margin: 2px 0px 10px 0px;
  }
  .instagram {
    width: 50%;
    padding: 0;
  }
  .iglink{
    width: 50%;
  }
  .tiktok {
    width: 50%;
    padding: 0;
  }
  .tiktoklink{
    width: 50%;
  }
  .email {
    width: 45%;
    height: 60%;
    margin: 2px 0px 10px 0px;
  }
  .datoscontacto {
    width: 75%;
  }
}
/*********
**********
TABLET
**********
**********
*/

@media (min-width: 800px) and (max-width:1024px) {
  .menu {
    height: 60px;
  }
  .logo {
    width: 40%;
    order: 0;
  }
  #logotext {
    font-size: 50px;
  }
  .buscador-container {
    display: none;
  }
  .buscador-containerpc {
    display: flex;
    width: 40%;
  }
  .buscador-containerpc img{
    margin-left: 10px;
  }
  .usuario {
    width: 5%;
  }
  #carrito {
    width: 5%;
  }
  .tituloContacto h2 {
    font-size: 40px;
  }
 /* redes */
 .redes {
  width: 90%;
  height: 40%;
}
.instagram {
  width: 50%;
  padding: 0;
}
.iglink{
  width: 50%;
}
.tiktok {
  width: 50%;
  padding: 0;
}
.tiktoklink{
  width: 50%;
}
.email {
  width: 90%;
  height: 40%;
}
.datoscontacto {
  width: 75%;
}

}