* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #c3aceb;
}

.menu {
  display: flex;
  width: 100%;
  height: 51px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 34.38%,
      rgba(0, 0, 0, 0) 66.94%
    )
    #8368e6;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: max-content;
  width: 55%;
  order: 2;
  padding-bottom: 7px;
}
#logotext {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 44.16px;

  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: none;
}
#carrito {
  width: 20%;
  height: max-content;
  border: none;
  background: none;
  z-index: 1;
  order: 1;
}
#carrito img {
  z-index: 0;
}

/*Carrito aside*/
.micompra {
  transform: translateX(100%);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 234px;
  height: 100%;
  z-index: 16;
  transition: 0.1s ease-out;
  background-color: #d2bbda;
}
.mostrarcompra {
  transform: translate(0%);
}
.carritonav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  width: 100%;
  height: 4%;
  background: rgba(131, 104, 230, 0.34);
  border-bottom: 1px solid #ffffff;
}
.micompra h3 {
  width: max-content;
  margin: 0px;
  padding: 1px 0 0 10px;
  font-family: "Raleway";
  font-style: normal;
  flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.micompra #carritoimg {
  align-self: center;
  position: relative;
  top: 35%;

  opacity: 0.2;
  height: 128px;
  width: 125px;
}
.micompra #arrowback {
  padding-right: 5px;
  background: none;
  border: none;
}

.usuario {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 20%;
  height: max-content;
  order: 3;
}

.login-register {
  position: absolute;
  width: 338px;
  height: 70%;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  left: calc(50% - 338px / 2 - 0.5px);
  top: 110px;
  background: #d7c0ff;
  border-radius: 14px;
}
.inicio-sesion {
  width: 307px;
  height: 70%;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.registro-oculto {
  width: 307px;
  height: 70%;
  margin: 10px 0 10px 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inputContainer {
  width: 308px;
  margin: 30px 0 30px 0;
  padding: 2px;
  border-bottom: 1px solid #ffffff;
}
.inputregistro {
  width: 100%;
  outline: none;
  border: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  border-spacing: 0;
  font-feature-settings: "tnum" on, "lnum" on;
  background: none;
  color: black;
}
.acuerdos {
  color: white;
  width: 100%;
  text-align: center;
}
.terminos {
  color: #4526f5;
}

.button-box {
  position: relative;
  top: 20px;
  background: #ffffff;
  border-radius: 53px;
  width: 80%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle {
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-feature-settings: "tnum" on, "lnum" on;
  color: white;
  transition: 0.25s;
}
#botonregistrar {
  color: black;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 53%;
  height: 100%;
  background: #7f4ffc;
  border-radius: 53px;
  transition: 0.5s;
}

#submitform {
  width: 186px;
  height: 38px;
  border: none;
  left: calc(50% - 186px / 2 - 0.5px);
  background-color: #7f4ffc;
  border-radius: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}

/*Menú hamburguesa*/
.menubur {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 320px;
  background-color: #d2bbda;
  transition: 0.2s ease-out;
  overflow-y: hidden;
  transform: translatey(100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.mostrar {
  transform: translatey(0%);
}
.toggle-btn {
  border: none;
  width: 52px;
  height: 52px;
  background-color: white;
  border-radius: 999px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-btn :active {
  border: none;
}
.toggle-btn span {
  background-color: #4526f5;
  height: 4px;
  width: 30px;
  margin-top: 3px;
}

.regresar {
  border: none;
  background: none;
  position: fixed;
  display: none;
}

footer {
  position: fixed;
  width: max-content;
  bottom: 20px;
  right: 20px;
}
#Pags {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Pags a {
  margin: 5px;
  width: 100%;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: white;
  border-bottom: solid white 2px;
}
#Pags a:first-child {
  margin-top: 20px;
}

/*Menú pc*/
.pagsPcItem a,
a:visited,
a:active,
a:focus,
a:hover {
  text-decoration: none !important;
  color: white !important;
  outline: none;
}
.pagsPc {
  height: 100%;
  width: 40%;
  display: none;
}
.pagsPcList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

/*buscador pc*/
.buscador-containerpc {
  display: flex;
  width: 15%;
  height: max-content;
  background: none;
  display: none;
}
.buscarpc {
  width: 100%;
  border: none;
  color: white;
  border-bottom: #7f4ffc solid 3px;
  background: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  outline: none;
}
.buscador-containerpc img {
  width: 25px;
}
.buscarpc::placeholder {
  color: white;
  opacity: 0.5;
}
.pagsPcItem {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-family: Raleway;
  font-style: normal;
  line-height: normal;
}
/******
      *******
      DESKTOP
      *******
      ******/

@media (min-width: 1024px) {
  /*navbar pc*/
  .menu {
    height: 60px;
  }
  .logo {
    width: 12%;
    order: 0;
  }
  #logotext {
    font-size: 50px;
  }
  .pagsPc {
    display: block;
  }
  .toggle-btn {
    display: none;
  }

  .buscador-container {
    display: none;
  }
  .buscador-containerpc {
    display: flex;
    width: 15%;
  }
  .usuario {
    width: 2%;
  }
  #carrito {
    width: 2%;
  }

  .login-register {
    width: 60%;
    left: 20%;
    border-radius: 5px;
  }
  .button-box {
    width: 50%;
    height: 15%;
  }
  .inicio-sesion {
    width: 60%;
  }
  .inputContainer {
    width: 90%;
  }
  .registro-oculto {
    width: 60%;
  }
}

/*********
**********
TABLET
**********
**********
*/
@media (min-width: 800px) and (max-width: 1024px) {
  .menu {
    height: 60px;
  }
  .logo {
    width: 40%;
    order: 0;
  }
  #logotext {
    font-size: 50px;
  }
  .buscador-container {
    display: none;
  }
  .buscador-containerpc {
    display: flex;
    width: 40%;
  }
  .buscador-containerpc img {
    margin-left: 10px;
  }
  .usuario {
    width: 5%;
  }
  #carrito {
    width: 5%;
  }

  .tituloProductos h2 {
    font-size: 40px;
  }
  .catalogo {
    top: 160px;
  }
  .login-register{
    width: 60%;
    left: 20%;

  }
}
